.custom-bg {
    background-color: #152238;
    width:100%
}

div {
    color: antiquewhite
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}



.footerimg{
    width: 20px; 
    height: 20px;
    margin: 2px;
    border-radius: 50%; 
    background-color: #152238;
    overflow: hidden; 
}

.moylogo{
    width: 100%; 
    height: 100%;
    margin: 2px; 
    background-color: #152238;
    overflow: hidden; 
}

.custom-navbar{
    background-color: #152238;
}

.skill {
    width: 20px; 
    height: 20px;
    margin: 2px;
    border-radius: 50%; 
    background-color: #152238;
    overflow: hidden; 
}
Col {
    text-align: center;
    align-items: center
  
  }

Container {
    text-align: center;
    align-items: center;

}


Row {
    text-align: center;
    align-items: center
}
  
