#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #152238;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.custom-bg {
  background-color: #152238;
  width: 100%
  /* Otros estilos adicionales */
}

body{
  background-color:#152238;
}

