#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #152238;
}

.proyectos{
  align-items: center;
}
.Card {
  color: antiquewhite;
  background-color: #152238
}
header {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100px;
  width: auto;
  padding: 20px;
}

.moyPic{
  width: 300px; 
  height: 300px;
  margin: 0px;
  border-radius: 50%; 
  background-color: #152238;
  overflow: hidden;
}

Col {
  text-align: center;
  align-items: center

}

.descHome {
  flex-direction: row;
  text-align: center;
  align-items: center;

}


Row {
  text-align: center;
  align-items: center
}

.custom-bg {
  background-color: #152238;
  width: 100%
  /* Otros estilos adicionales */
}

body{
  background-color:#152238;
}

.footerimg{
  width: 20px; 
  height: 20px;
  margin: 2px;
  border-radius: 50%; 
  background-color: #152238;
  overflow: hidden; 
}

.moylogo{
  max-height: 150px;
  margin: 2px; 
  background-color: #152238;
  overflow: hidden; 
}

.skill {
  width: auto; 
  height: 60px;
  margin: 2px;
  border-radius: 20%; 
  background-color: #152238;
  overflow: hidden; 
}

